table.table-process tr {
  @apply flex gap-0;
}
table.table-process td {
  @apply border-y-[1px] border-x-[0.25px] border-stone-900 w-[30px] h-[30px];
}
table.table-process td.process-info {
  @apply border-[1px] text-center w-[40px];
}
table.table-process td.process-info img {
  height: 25px;
  padding: 0 10px;
}

input[type="number"] {
  @apply appearance-none;
  -moz-appearance: textfield;
}
input[type="number"]:disabled,
button:disabled {
  @apply opacity-50;
}

table.table-ram {
  @apply flex-1 border-2;
}
table.table-ram td {
  @apply w-[120px] border-2;
}
